# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django-related
*.sqlite3
db.sqlite3

# Logs
logs/
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
